@*@model WebApplicationMVC.Models.User
@{
    List<User> user = ViewData["Users"] as List<User>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @user)
        {
            <tr>
                <td>
                 @item.Id   @Html.DisplayFor(modelItem => item.Id)
               </td>
                <td>
                    @item.Name   @Html.DisplayFor(modelItem => item.Name)
                </td> 
                <td>
                    @item.BirthDate    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
*@
@model IEnumerable<WebApplicationMVC.Models.User>

@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Students";
    var pagedList = Model.ToPagedList(1, 4);
    WebApplicationMVC.Models.User _user = new WebApplicationMVC.Models.User();
}

<h1>Users</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">   
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Birth of date</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<div class="container fixed-bottom d-flex align-items-center justify-content-center">
    @Html.PagedListPager((IPagedList)Model,page => Url.Action("Index", "User",new{pageNumber= page}),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
    DisplayItemSliceAndTotal = false,
    ContainerDivClasses = new[] { "navigation" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    })

</div>
